.clients{
    padding: 1rem;
    padding-bottom: 3rem;
}

.clients .clients-reviews{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.clients .clients-reviews img{
    border-radius: 15px;
}

@media screen and (max-width: 600px) {
    .clients .clients-reviews{
        flex-direction: column;
    }

    .clients .clients-reviews img{
        width: 300px;
    }
}